# Python DB API

### PyODBC

In [1]:
# ODCB: Open DataBase Connectivity

In [2]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\bilgisayar\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyodbc

In [4]:
def create_server_connection(driver, server, database, user, password):
    conn = None
    try: 
        conn = pyodbc.connect(DRIVER = driver, SERVER= server, DATABASE = database, UID= user, PWD= password)
        print("Successfull")
    except Error as err:
        print(f"Error:'{err}'")
    return conn

######  1st way of  connecting

In [ ]:
driver = '{ODBC Driver 17 for SQL Server}'
server = 'localhost' #şu anda server her birimizin kendi makinesi
database = 'master'#yeni bir db oluşturacağız
user = 'sa' 
password = '------'
conn = create_server_connection(driver, server, database, user, password)

In [5]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)']

###### 2nd way of connecting

In [6]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"

In [8]:
conn = pyodbc.connect(conn_string)

In [ ]:
conn.close()     # connection'ı kapatmak için.

In [ ]:
conn = conn.cursor()        #cursor tanımlamadan bir tablonun içerisindeki verilere ulaşamayız.

In [ ]:
conn.autocommit() = True            #Python'da gerçekleştirmiş olduğumuz değişiklikler hemen SQL tarafında yansımıyor. Yapmamız gereken şey Commit etmek.

In [ ]:
CREATE_db_syntax = 'CREATE DATABASE SAMPLEDB_1'    # SAMPLEDB_1 olarak bir yeni DATABASE oluşturduk.

In [ ]:
conn.execute(conn,create_db_syntax)

In [9]:
create_db_syntax = 'CREATE DATABASE SAMPLEDB_1'

# Create Database

In [ ]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"
conn = pyodbc.connect (conn_string)
crs = conn.cursor()
conn.autocommit=True


create_db_syntax = 'CREATE DATABASE SAMPLEDB_1'

def create_database (conn, create_db_syntax):
    conn = conn.cursor()
    try:
        conn.execute(create_db_syntax)
        print("Database is Created Succesfully")
    except Exception as err:
        print(f"Error:'{err}'")
        
create_database(conn, create_db_syntax)

In [ ]:
def execute_query(conn, query):
    conn = conn.cursor()
    try:
        conn.execute(query)
        conn.commit()
        print("Query Succeessful!")
    except Error as err:
        print(f"Error:'{err}'")

In [ ]:
query = 'USE SAMPLEDB_1'

In [ ]:
execute_query(conn, query)

# Create Table

In [ ]:
query = 'CREATE TABLE TestA (\
           ID INT IDENTITY (1,1) NOT NULL, \
           FirstName VARCHAR(255) NOT NULL,\
           LastName VARCHAR(255) NOT NULL,\
           PRIMARY KEY(ID))'

In [ ]:
execute_query(conn, query)

# Insert Values

In [ ]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES ('Bob', 'Marley')")
#conn.commit()     # SQL Server'da yaptığımız değişikliği görebilmek için normalde conn.commit etmemiz gerekir ama biz öncesinde conn.autocommit=True yaptığımız için gerek yok.

In [ ]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Tom', 'Hanks')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Bart', 'Simpson')

In [ ]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Tom', 'Cat')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Jerry', 'Mouse')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Owen', 'William')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Stefan', 'Müller')

# Delete

In [ ]:
crs.execute("DELETE FROM TestA WHERE FirstName = 'Jerry'")

In [ ]:
crs.execute("DELETE FROM TestA WHERE FirstName = ?" ,'Stefan')

# Rowcount

In [ ]:
crs.rowcount     # işlem sonucunda kaç satırın etkilendiğini gösteriyor.

In [ ]:
print(crs.rowcount,"row(s) deleted")

# Reading Data

###### Fetchone

In [ ]:
# Tablo içerisindeki ilk kaydı ulaşmanızı sağlıyor.

crs.execute('SELECT FirstName, LastName FROM TestA')

In [ ]:
row = crs.fetchone() #tablodaki ilk kaydı getirir
row

In [ ]:
row = crs.fetchone() #tablodaki ilk kaydı getirir
row              # tekrar çalıştırdığımızda aynı kodu cursor kaldığı en son yerden ilerliyor.

In [ ]:
row.FirstName

###### Fetchall

In [ ]:
crs.execute('SELECT ID, FirstName, LastName FROM TestA')
rows = crs.fetchall()                                           # fetchall : Bütün değerleri getiriyor
rows

In [ ]:
for row in rows:
    print(row.ID, row.FirstName, row.LastName)

In [ ]:
crs.execute("""SELECT ID, FirstName, LastName    
                FROM TestA""")                               # eğer birden fazla sutün döndüreceksek 3 tırnak kullanıyoruz.
rows = crs.fetchall()
rows

In [ ]:
crs.execute("""SELECT ID, FirstName, LastName 
               FROM TestA
               WHERE FirstName = ? and LastName = ?""", ['Owen', 'William'])
rows = crs.fetchall()
rows

# Fetchmany

In [ ]:
crs.execute("""SELECT ID, FirstName, LastName 
               FROM TestA""")
rows = crs.fetchmany(2)                     #kaç tane satır döndüreceğimizi belirtiyoruz.
rows

# Fetchval

In [ ]:
crs.execute("SELECT MAX(ID) FROM TestA").fetchval()

In [ ]:
crs.execute("SELECT FirstName FROM TestA").fetchval()

In [ ]:
crs.execute("SELECT FirstName, LastName FROM TestA").fetchval()  #yine sadece "Bob" getirdi çünkü, fetval tek bir hücre getir, satır değil.

# Pandas Method

In [ ]:
import pandas as pd

In [ ]:
def read_query (conn, query): #connection nesnesi yukarıda tanımlanmıştı.
    crs = conn. cursor()
    results = None
    crs.execute(query)
    results = crs.fetchall()
    return results

In [ ]:
query = """SELECT ID, FirstName, LastName 
               FROM TestA"""

In [ ]:
read_query(conn, query)

In [ ]:
result